<div class="container has-text-centered">
  <div class="column is-6 is-offset-3">
    <h1 class="title">
      Welcome to Elixir School Slack!
    </h1>
    <h2 class="subtitle">
      To check eligibility, please sign-in with GitHub below.
    </h2>
    <a class="button is-info" href="/auth/github">
      <span class="icon">
        <i class="fab fa-github"></i>
      </span>
      <span>Sign-in with GitHub</span>
    </a>
  </div>
</div>
