<h1 class="title">
  <%= gettext("index_title") %>
</h1>
<p class="subtitle">
  <%= gettext("index_subtitle") %>
</p>
<a class="button is-info is-medium" href="/auth/github">
  <span class="icon">
    <i class="fab fa-github"></i>
  </span>
  <span>Sign-in with GitHub</span>
</a>