<div class="container has-text-centered">
  <div class="column is-6 is-offset-3">
    <h1 class="title">
      <%= gettext("welcome_title") %>
    </h1>
    <h2 class="subtitle">
      <%= gettext("welcome_subtitle") %>
    </h2>
  </div>
</div>
