/* This file is for your main application css. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab:400,700');

$info: #967cb2;
$primary: #4a365f;

$family-primary: 'Open Sans', sans-serif;
$family-header: 'Roboto Slab', serif;

@import "~bulma/bulma.sass";

body {
  background-color: #806f93;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235b4375'/%3E%3Cstop offset='1' stop-color='%235b4375' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2365507b'/%3E%3Cstop offset='1' stop-color='%2365507b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23402b57'/%3E%3Cstop offset='1' stop-color='%23402b57' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23806f93'/%3E%3Cstop offset='1' stop-color='%23806f93' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2336214d'/%3E%3Cstop offset='1' stop-color='%2336214d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234a365f'/%3E%3Cstop offset='1' stop-color='%234a365f' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  .title {
    font-weight: 700;
  }

  .title, .subtitle {
    font-family: $family-header;
  }

  .box {
    padding: 2.5rem;
  }
}
